* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    background-color: black;
    text-align: center;
    color: white;
}

header.h1 {
    text-align: center;
    padding: 20px;
    padding-top: 20px;
}

body {
    background-color: grey;
}



footer {
    background-color: black;
    color: black;
    padding: 20px;
    display: contents;
    text-align: left;
}