html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}
*{
    padding: 0%;
    border: 0%;
    margin: 0%;
    box-sizing: border-box;
}

main{
    flex-direction: column;
    align-content: center;
    flex: 1;
    display: flex;
}

body{
    height: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color:azure;
    justify-items: center;
    align-items: center;
}

.row-table-elements{
    align-items: baseline
}

form{
        display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center; /* centraliza horizontalmente */
    flex-wrap: wrap;
}

.tabela-pais{
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 10px black;
    padding: 20px;
}

.btn-submit{
    margin: auto;
    display: block;
    margin-top: 10px;
}

h2 {
    margin-bottom: 15px;
}

.pre-form{
    text-align: center;
    padding: 10px;
}

.pre-form h1{
    text-align: center;
    padding: 10px;
    font-size: large;
    font-weight: bold;
}

footer{
    text-align: center;
    background-color: grey;
    bottom: 0%;
}